doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  title Homepage
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css', rel='stylesheet', integrity='sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We', crossorigin='anonymous')
  link(rel='icon', href='https://cdn.discordapp.com/avatars/862143828920369172/3c69502e3caa7a667b0cbb71eba9733e.webp?size=1024')
  script(src='https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js', integrity='sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp', crossorigin='anonymous')
  script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js', integrity='sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/', crossorigin='anonymous')
  script(src='js/script.js')
  link(rel='stylesheet', type='text/css', href='css/style.css')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  script(src='https://kit.fontawesome.com/9d18730256.js', crossorigin='anonymous')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css')
include /includes/header.pug
h1#f Features
.card(style='width: 17rem;')
  i#fa.card-img-top.fas.fa-shipping-fast
  .card-body
    h5.card-title Fast Fixes
    p.card-text
      | If any errors occur the servers are right on the premises. Which makes fixes easy if it happens to be with the server
      br
      br
#card2.card(style='width: 17rem;')
  i#dollar.card-img-top.fa.fa-dollar
  .card-body
    h5.card-title Currency System
    p.card-text
      | I mean what&apos;s the point of bots if they can&apos;t be fun I mean we all do need that sense of achievement when you get 10 million currency?
noscript No Javascript That is a bit sad
#card3.card(style='width: 17rem;')
  i#dollar.card-img-top.fas.fa-users-cog
  .card-body
    h5.card-title Administration Options
    p.card-text
      | Customise Your Server Completly freely. Add your membercount channel or chnage your prefix
      br
      br
#card4.card(style='width: 17rem;')
  i#dollar.card-img-top.fas.fa-book-open
  .card-body
    h5.card-title Open Source
    p.card-text
      | Find it on my gihub where you can edit it to you liking for your server or evn do pull requests to help me develop.
      br
      br
include /includes/footer.pug